<h1>ユーザの新規作成</h1>
<!-- メインコンテンツ  -->
<%= form_for @user, :url=>{:action=>'createext'} do |f| %>  
<% if @user.errors.any?%>  
<div class="error_messages">  
  <h2>Form is invalid</h2>  
  <ul>  <% for message in @user.errors.full_messages %>  
    <li><%= message %></li>  
    <% end %>  
  </ul>  
</div>  
<% end %>  
<div class="field">  
  <%= f.label :アカウント名 %> (半角英数字でわかりやすいもの. ex. taro)<br /> 
  <%= f.text_field :account %>  
</div>  
<div class="field"> 
  <%= f.label :フルネーム %> (全角で 苗字 + 名前. 苗字と名前の間には半角スペースをいれる. ex. 坂本 太郎) <br />  
  <%= f.text_field :username %>  
</div>  
<div class="field"> 
  <%= f.label :メールアドレス %>  (inex からの情報を受け取れるメールアドレス.) <br />
  <%= f.text_field :email %>  
</div>  
<div class="field">  
  <%= f.label :保証人 %>  (担当 TA, VTA のアカウント名を半角英数字で記入.) <br />
  <%= f.text_field :owner %>  
</div>  
<div class="field">  
  <%= f.label :学年 %> (大文字アルファベット 1 文字 (学部生なら B) + 数字 1 文字で記入. ex. B3) <br />
  <%= f.text_field :grade%>  
</div>  
<div class="field">  
  <%= f.label :パスワード %> (自分のログインパスワード. 後からでも変更可. ) <br />
  <%= f.password_field :password %> 
</div>  
<div class="field">  
  <%= f.label :パスワード確認 %>  (確認のためもう一度入力) <br />
  <%= f.password_field :password_confirmation %>  
</div>  
<div class="actions">
  <%= f.submit %>
</div> 
<% end %> 
