<p id="notice"><%= notice %></p>
<h1>ユーザ情報</h1>

<div id="mainbody">
  <div id="container">
    <div id="mainbox">
      <div id="mainfield">
	<!-- メインコンテンツ  -->
	<p>
	    <b>ID:</b>
	      <%= @user.id %>
	      </p>

	<p>
	    <b>Account:</b>
	      <%= @user.account %>
	      </p>

	<p>
	    <b>Username:</b>
	      <%= @user.username %>
	      </p>

	<p>
	    <b>Email:</b>
	      <%= @user.email %>
	      </p>

	<p>
	    <b>Role:</b>
	      <%= @user.role.position %>
	      </p>

	<p>
	    <b>Grade:</b>
	      <%= @user.grade %>
	      </p>

      </div>
    </div>
    <div id="sidebox">
      <div id="sidemenu">
	<!-- サイドメニュー  -->
	<%= render 'shared/sidemenu-public' %>
      </div>
    </div>
  </div>
</div>
